<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <title></title>
        <style>
            body {
             background-image: url("/view_background.jpg");
             background-repeat: no-repeat;
             background-size: cover;     
             }
             nav a.btn {
                 color: whitesmoke;
             }
             nav {
                 background-color: #000000;
                 padding: 10px;
             }
             nav ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
             }
             .card{
                background-color: #0006;
                color: whitesmoke;
            }
            
            .table>:not(caption)>*>* {
            color: whitesmoke !important;
            }
         </style> 
    </head>
    <body>
        <div class="container">
            <nav>
                <a href="http://localhost:3000/team" class="btn">Team</a>
                <a href="http://localhost:3000/ball" class="btn">Ball</a>
                <a href="http://localhost:3000/bat" class="btn">Bat</a>
                <a href="http://localhost:3000/pak_player" class="btn">Pak Player</a>
                <a href="http://localhost:3000/all_rounder" class="btn">All Rounder</a>
                <a href="http://localhost:3000/type" class="btn">Type</a>
                <a href="http://localhost:3000/formats" class="btn">Formats</a>
                <a href="http://localhost:3000/team_pak_player" class="btn">Team Pak Player</a>
                <a href="http://localhost:3000/state" class="btn">State</a>
                <a href="/logout" class="btn float-end">Logout</a>
            </nav>
            <h1 style="color: whitesmoke;" class="text-center mt-3 mb-3">Player Statistics</h1>
            
            <% if(action == 'add') { %>

            <div class="card">
                <div class="card-header">Pak Player Stats Form</div>
                <div class="card-body">
                    <form method="POST" action="/pak_player_stats/add_pak_player_stats">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Bat id</label>
                                    <input type="text" name="Bat_id" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Ball id</label>
                                    <input type="text" name="Ball_id"  class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>All rounder id</label>
                                    <input type="text" name="All_Rounder_id" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label>Player id</label>
                                    <input type="text" name="Pid" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="submit" name="submit_button" class="btn btn-primary" value="Add" />
                        </div>
                    </form>
                </div>
            </div>
            <% } else if(action == 'edit') { %>
                <div class="card">
                    <div class="card-header">Pak Player Stats Form</div>
                    <div class="card-body">
                        <form method="POST" action="/pak_player_stats/edit/<%= pak_player_statsData.All_Rounder_id %>/<%= pak_player_statsData.Bat_id %>/<%= pak_player_statsData.Ball_id %>/<%= pak_player_statsData.Pid %>">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label>Bat id</label>
                                        <input type="text" name="Bat_id" class="form-control" value="<%= pak_player_statsData.Bat_id %>" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label>Ball id</label>
                                        <input type="text" name="Ball_id" class="form-control" value="<%= pak_player_statsData.Ball_id %>" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label>Player id</label>
                                        <input type="text" name="Pid" class="form-control" value="<%= pak_player_statsData.Pid %>" />
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <input type="submit" name="submit_button" class="btn btn-primary" value="Edit" />
                            </div>
                        </form>
                    </div>
                </div>

            <% } else { %>
                
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">Pak Player Stats Data</div>
                        <div class="col">
                            <a href="/pak_player_stats/add" class="btn btn-success btn-sm float-end">Add</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <th>Bat_id</th>
                                <th>Ball_id</th>
                                <th>All_Rounder_id</th>
                                <th>Pid</th>
                            </tr>
                            <%
                            if(pak_player_statsData.length > 0)
                            {
                                pak_player_statsData.forEach(function(data){
                            %>
                            <tr>
                                <td><%= data.Bat_id %></td>
                                <td><%= data.Ball_id %></td>
                                <td><%= data.All_Rounder_id %></td>
                                <td><%= data.Pid %></td>
                                <td>
                                    <a href="/pak_player_stats/edit/<%= data.All_Rounder_id %>/<%= data.Bat_id %>/<%= data.Ball_id %>/<%= data.Pid %>" class="btn btn-primary btn-sm">Edit</a>
                                    <a href="/pak_player_stats/delete/<%= data.All_Rounder_id %>/<%= data.Bat_id %>/<%= data.Ball_id %>/<%= data.Pid %>" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                            <%
                                });
                            }
                            else
                            {
                            %>
                            <tr>
                                <td colspan="5">No Data Found</td>
                            </tr>
                            <%
                            }
                            %>
                        </table>
                    </div>
                </div>
            </div>

            <% } %>

        </div> 

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>